<div id="googlemap"></div>

<% content_for :foot do %>

  <script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

  <script type="text/javascript">   
 
    var map;
    var place;    
    var latlng;

    // Default to Momofuku as an example
    latlng = new google.maps.LatLng(40.729485,-73.984392);
    map = getMap(latlng);    
    var request = {
      placeId: 'ChIJkXQ3_INZwokRE74ZvG46Jjc'
    };
    var input = document.getElementById('location_search');
    input.value = "momofuku noodle bar, 1st Avenue, New York, NY, United States";

    var service = new google.maps.places.PlacesService(map);
    service.getDetails(request, function(place, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {        
        setMarker(map, place);
        fillFields(place);
        plotGooglePlacesGraph(place);
        plotYelpGraph(place);        
      }
    });  

    // Address Autocomplete
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    // Autocomplete Listener
    google.maps.event.addListener(autocomplete, 'place_changed', function() {

      $('#closed').hide();
      $('#no-reviews').hide();
      $('#address').hide();
      $("#googlemap").css({"position":"absolute","top":"-20000px"});
      $("#chartGoogle").css({"position":"absolute","top":"-20000px"});
      $("#chartYelp").css({"position":"absolute","top":"-20000px"});

      place = autocomplete.getPlace();

      latlng = new google.maps.LatLng(place.geometry.location.lat(),place.geometry.location.lng());
      map = getMap(latlng);

      setMarker(map, place);
      fillFields(place);
      plotGooglePlacesGraph(place);
      plotYelpGraph(place);

      // alert(js_obj.businesses[0].rating_img_url);
      // alert(js_obj.businesses[0].rating_img_url_small);
      // alert(js_obj.businesses[0].rating_img_url_large);
      // alert(js_obj.businesses[0].image_url);
    });

    function getMap(latlng) {
      var mapOptions = {
        center: latlng,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false,
        scaleControl: false
      };
      map = new google.maps.Map(document.getElementById('googlemap'), mapOptions);
      return map;
    }

    function setMarker(map, place) {
      var marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(40.729485, -73.984392)
      });

      // Sets the proper image on the marker. ie. school/hospital marker
      var image = new google.maps.MarkerImage(
          place.icon,
          new google.maps.Size(71, 71),
          new google.maps.Point(0, 0),
          new google.maps.Point(17, 34),
          new google.maps.Size(35, 35));    
      marker.setIcon(image);
      marker.setPosition(place.geometry.location);

      var address = '';
      if (place.address_components) {
        address = [(place.address_components[0] &&
                    place.address_components[0].short_name || ''),
                   (place.address_components[1] &&
                    place.address_components[1].short_name || ''),
                   (place.address_components[2] &&
                    place.address_components[2].short_name || '')
                  ].join(' ');
      }
      var infowindow = new google.maps.InfoWindow();
      infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
      infowindow.open(map, marker);      
    }

    function fillFields(place) {
      $('#location_lat').text(place.geometry.location.lat());
      $('#location_lng').text(place.geometry.location.lng());
      $('#name').text(place.name);
      $('#fulladdress').text(place.formatted_address);  
      if (place.formatted_phone_number) {
        $('#phone').text("Ph.: " + place.formatted_phone_number);   
      }   
    }

    function epoch_toYMD(utcSeconds) {
      var d = new Date(0); // The 0 there is the key, which sets the date to the epoch
      d.setUTCSeconds(utcSeconds);
      return d.toISOString().substring(0, 19).replace('T', ' ');
    }

    function getAvgRating(line) {
      var total = 0; 
      for(var i = 0, len = line.length; i < len; i++){
          total += line[i][1]; 
      }
      return Math.round( total/line.length * 10 ) / 10;      
    }

    function plotGooglePlacesGraph(place) {
      if (place.reviews) {
        var lineGoogle = [];
        var i = 0;
        while (i < 10) {
          if (place.reviews[i]) {
            lineGoogle.push([epoch_toYMD(place.reviews[i].time), place.reviews[i].rating]);
          }
          i++;
        }
        var title = 'Google Places - Recent Overall Rating: ' + getAvgRating(lineGoogle) + '/5';
        plotGraph('chartGoogle', lineGoogle, title);   
        $("#chartGoogle").css({"position":"relative","top":"0px"});
        $("#googlemap").css({"position":"relative","top":"0px"});
        $('#address').show();
      } 
    }

    function plotYelpGraph(place) {
      $('#loading-bar').show();
      var url = 'yelp/search?term=' + place.name + "&ll=" + place.geometry.location.lat() + ',' + place.geometry.location.lng();  
      $.getJSON(url).done(function(dataSearch) {
        try {
          var yelp = JSON.parse(dataSearch).businesses[0];
          // $('#yelpOverallRating').text(yelp.rating);
          if (yelp.is_closed) {
            $('#closed').show();
          }
          if (yelp.phone.slice(-4) == place.international_phone_number.slice(-4)) {
            url = 'yelp/business?url=' + yelp.url;  
            $.getJSON(url).done(function(lineYelp){
              var title = 'Yelp - Recent Overall Rating: ' + getAvgRating(lineYelp) + '/5';
              plotGraph('chartYelp', lineYelp, title);
              $('#loading-bar').hide();
              $("#chartYelp").css({"position":"relative","top":"0px"});
              $("#googlemap").css({"position":"relative","top":"0px"});
              $('#address').show();
            })
          }
          else {
            $('#loading-bar').hide();
          }  
        }
        catch (ex) {
          $('#loading-bar').hide();
          if (!place.reviews) {
            $('#no-reviews').show(); 
          }
        }
      })         
    }

    function plotGraph(graph, line, title) {

      $.jqplot.config.enablePlugins = true;

      $.jqplot(graph, [line], {
        title: title,
        axes: {
          yaxis: {
            min: 0, 
            max: 6,
            tickInterval: 1
          },        
          xaxis: {
            renderer:$.jqplot.DateAxisRenderer,
            tickOptions:{formatString:'%Y, %b-%#d'}
          }
        },
        highlighter: {
          show: true,
          sizeAdjust: 7.5
        },
        series:[
          {
            lineWidth: 4, 
            markerOptions:
            {
                style:'filledCircle'
            }
          }        
        ],
        seriesDefaults: {
          rendererOptions: {
            smooth: true
          },
          trendline: {
            color: '#666666',  
          }
        } 
      }).replot();
    }    

  </script>

<% end %>